{% extends "layout.html" %}

{% block title %}
  My shop
{% endblock %}

{% block body %}
    <h2> Thêm Sản phẩm</h2>
    <form action="{{url_for('addNewProduct_s2')}}" method="post">
      <div class="form-group">
        <lable for="product_name">Tên sản phẩm </lable>
        <input class="form-control" name="product_name" type="text" >
      </div>
      <div class="form-group">
        <lable for="img">Ảnh</lable>
        <input class="form-control" name="img" type="text">
      </div>
      <div class="form-group">
        <lable for="price">Giá</lable>
        <input  class="form-control" name="price" type="number">
      </div>
      <div class="form-group">
        <lable for="information">Thông tin sản phẩm</lable>
        <input class="form-control" name="information" type="text">
      </div>
      <div class="form-group">
        <lable for="type_id">Chọn loại sản phẩm</lable>
        <select class="form-control" name="type_id">
          {% for type in type_product %}
            <option value="{{type.id}}">{{type.type_name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value='Thêm'>
      </div>
    </form>

{% endblock %}
