{% extends "layout.html" %}

{% block title %}
    My shop
{% endblock %}

{% block body %}
	<div id="mapid" style="width: 800px; height: 500px;"></div>
	<form action="{{ url_for('insertSHOP_result') }}" method="post">
		{{ form.hidden_tag() }}
		<p>
				{{ form.name.label }}
				{{ form.name(class="form-control") }}
				{% for error in form.name.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}

				{{ form.address.label }}
				{{ form.address(class="form-control")}}
				{% for error in form.address.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}

				{{ form.level.label }}
				{{ form.level(class="form-control")}}
				{% for error in form.level.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}

        {{ form.img.label }}
				{{ form.img(class="form-control")}}
				{% for error in form.img.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}

				{{ form.lat.label }}
				{{ form.lat(class="form-control") }}
				{% for error in form.lat.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}

				{{ form.lng.label }}
				{{ form.lng(class="form-control") }}
				{% for error in form.lng.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
	</form>

	<script>
	var mymap = L.map('mapid', {fullscreenControl: true,
															fullscreenControlOptions: { // optional
																title:"Show me the fullscreen !",
																titleCancel:"Exit fullscreen mode"
															}}).setView([21.07204051307818, 105.7739627412891], 20);
	var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data &copy; OpenStreetMap contributors';
	L.tileLayer(osmUrl, {attribution: osmAttrib}).addTo(mymap);
	//Plugin magic goes here! Note that you cannot use the same layer object again, as that will confuse the two map controls

	var osm2 = new L.TileLayer(osmUrl, {minZoom: 0, maxZoom: 13, attribution: osmAttrib });
	var miniMap = new L.Control.MiniMap(osm2, { toggleDisplay: true }).addTo(mymap);

	// use JQUERY/AJAX
	$.ajax({
		url: "http://127.0.0.1:5000/api/v1/SHOPPOINTs",
		dataType: 'json',
		async: false, // async default = true
		success: function(data) {
			geojson = data;
			// console.log(data);
		}
	});
	// console.log(geojson);
	var SHOP1 = L.icon({
		iconUrl: 'http://127.0.0.1:5000/static/icon/market.png',
		iconSize: [28, 35], // size of the icon
		iconAnchor: [10, 15], // point of the icon which will correspond to marker's location
		popupAnchor: [3, 15] // point from which the popup should open relative to the iconAnchor
	});
	var SHOP2 = L.icon({
		iconUrl:  'http://127.0.0.1:5000/static/icon/market2.png',
		iconSize: [28, 35], // size of the icon
		iconAnchor: [10, 15], // point of the icon which will correspond to marker's location
		popupAnchor: [3, 15] // point from which the popup should open relative to the iconAnchor
	});

	function onEachSHOP(feature, layer) {
		// does this feature have a property
		if (feature.properties) {
			layer.bindPopup("<b><img src=" + feature.properties.img + " width = 250px height = 250px></b><br/>Address: " +
				feature.properties.address + "</br><b>Đại lý cấp: "+feature.properties.level+"</b><br/>Name: " + feature.properties.name);

			layer.on('click', function(e) {
				// e = event
				// document.querySelector('#id').value = feature.properties.id;
				// document.querySelector('#diaChi').value = feature.properties.diaChi;
				// document.querySelector('#soTang').value = feature.properties.soTang;
				mymap.panTo(e.latlng, {
					animate: true,
					duration: 1
				});
			});
		}
	}

  var shop_group = L.markerClusterGroup();
  var SHOPs = L.geoJSON(geojson, {
    onEachFeature: onEachSHOP,
    pointToLayer: function(feature, latlng) {
      switch (feature.properties.level) {
        case 1:
          return L.marker(latlng, {
            icon: SHOP1
          });
        case 2:
          return L.marker(latlng, {
            icon: SHOP2
          });
      }
    }
  }).addTo(shop_group);
  shop_group.addTo(mymap);

	var legend = L.control({position: 'bottomleft'});

	legend.onAdd = function (mymap) {
			var div = L.DomUtil.create('div', 'info');
			div.innerHTML += '<img style="width:30px;height:30px" src="static/icon/market.png">: Đại lý cấp 1<br>';
			div.innerHTML += '<img style="width:30px;height:30px" src="static/icon/market2.png">: Đại lý cấp 2<br>';
			return div;
	};

	legend.addTo(mymap);

	mymap.on('enterFullscreen', function(){
		if(window.console) window.console.log('enterFullscreen');
	});
	mymap.on('exitFullscreen', function(){
		if(window.console) window.console.log('exitFullscreen');
	});

		mymap.on('click', function(e) {
			document.querySelector('#Lat').value = e.latlng.lat;
			document.querySelector('#lng').value = e.latlng.lng;
			var SHOP = L.marker([e.latlng.lat, e.latlng.lng])
			SHOP.addTo(mymap)
		});
    var shopPointLayers = L.layerGroup([
      shop_group
    ])

    L.control.search({
      layer: shopPointLayers,
      initial: false, //True - only search on first text
      propertyName: 'name',
      zoom: 16,
      buildTip: function(text, val) {
        var name = val.layer.feature.properties.name;
        return '<a href="#" class="'+name+'">'+text+'</a>';
      }
    }).addTo(mymap);

    locate = L.control.locate({
        strings: {
            title: "vị trí của tôi!"
        }
    }).addTo(mymap);
	</script>


{% endblock %}
